<table>
  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div id="" style="font-size: 1.5em;">
        <tr>
          <td style="padding: 5px 10px 5px 5px;"><strong><%= user.email %></strong></td>
          <td style="padding: 5px 20px 5px 5px;"><%= message.message_time %></td>
          <td style="padding: 5px 10px 5px 5px;"><%= message.body %></td>
        </tr>
      </div>
    <% end %>
  <% end %>
</table>

<%= form_for [@conversation, @message] do |f| %>
  <%= f.text_area :body, class: "form-control", style: "font-size: 1.5em" %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <%= f.submit "Send Reply", class: "form-control btn btn-primary", style: "font-size: 1.5em;" %>
<% end %>
