<% @messages.each do |message| %>
  <% if message.body %>
    <% user = User.find(message.user_id) %>
    <div id="" style="font-size: 1.5em;">
      <strong><%= user.email %></strong>
      <%= message.message_time %>
      <%= message.body %>
    </div>
  <% end %>
  <br>
<% end %>

<%= form_for [@conversation, @message] do |f| %>
  <%= f.text_area :body, class: "form-control", style: "font-size: 1.5em" %>
  <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
  <%= f.submit "Send Reply", class: "form-control btn btn-primary", style: "font-size: 1.5em;" %>
<% end %>
