<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="font-size:1.5em">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg,image/webp' %>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.radio_button :sex, 'Male' %>Male<br/>
    <%= form.radio_button :sex, 'Female' %>Female<br/>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :age %>
        <%= form.select :age, ((18..100).map {|i| ["#{i}",i] } << [">100",101]) %>
  </div>

    <div class="field" style="font-size:1.5em">
    <%= form.label :orientation %>
    <%= form.select :orientation, ['Straight', 'Gay', 'Bisexual']%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :about_me %>
    <%= form.text_field :about_me %>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :work_education %>
    <%= form.text_field :work_education %>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :location %>
    <%= form.select :location, [
      'Africa',
      'Asia', 
      'Australia',
      'America', 
      'Canada', 
      'Central America', 
      'Europe', 
      'Middle East', 
      'New Zealand', 
      'Russia', 
      'South America',
      'United Kingdom'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :height %>
    <%= form.select :height, ((60..240).map {|i| ["#{i}cm",i] } << [">240cm",241]) %>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :health %>
    <%= form.select :health, [
      'I do not exercise',
      'I exercise once per week',
      'I exercise a few days per week',
      'I exercise just about every day',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :vices %>
    <%= form.select :vices, [
      'I don\'t drink or smoke',
      'I don\'t smoke but I drink socially',
      'I don\'t smoke but I drink regularly',
      'I smoke socially but I don\'t drink',
      'I smoke socially and I drink socially',
      'I smoke socially and I drink regularly',
      'I smoke regularly but I don\'t drink',
      'I smoke regularly and I drink socially',
      'I smoke regularly and I drink regularly',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :pets %>
    <%= form.select :pets, [
      'I don\'t have any pets and I don\'t want any',
      'I don\'t have any pets but I\'m flexible',
      'I don\'t have any pets but I\'d love some',
      'I have a pet',
      'I have several pets',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :children %>
    <%= form.select :children, [
      'I don\'t have any children and I don\'t want any',
      'I don\'t have any children but I\'m flexible',
      'I don\'t have any children but I want some',
      'I have a child but I don\'t want more',
      'I have a child and I want more',
      'I have kids but I don\'t want more',
      'I have kids and I want more',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :religion %>
    <%= form.select :religion, [
      'Atheist',
      'Agnostic',
      'Buddhist',
      'Christian',
      'Catholic',
      'Jewish',
      'Orthodox',
      'Other',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :politics %>
    <%= form.select :politics, [
      'Conservative',
      'Liberal',
      'Centrist',
      'Alternative',
      'Other',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :starsign %>
    <%= form.select :starsign, [
      'Aquarius',
      'Aries',
      'Cancer',
      'Capricorn',
      'Gemini',
      'Leo',
      'Libra',
      'Pisces',
      'Sagittarius',
      'Scorpio',
      'Taurus',
      'Virgo',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="field" style="font-size:1.5em">
    <%= form.label :looking_for %>
    <%= form.select :looking_for, [
      'Friends',
      'Penpals',
      'Something casual',
      'Short-term dating',
      'Long-term dating',
      'Let\'s see what happens',
      'Prefer not to answer'
    ]%>
  </div>

  <div class="actions" style="font-size:1.5em">
    <%= form.submit %>
  </div>
<% end %>
