<% if !Profile.exists?(user_id: current_user.id)  %>
   <% showing = "all profiles (please make a profile to get personalised results.)" %>
   <% @profiles = @all_profiles %>

<% elsif current_user.has_role?(:admin) %>
    <% showing = "all profiles (administrator detected)" %>
   <% @profiles = @all_profiles %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Male' && Profile.find_by(user_id: current_user.id).orientation == 'Straight' %>
  <% @profiles = @straight_females + @bi_females %>
  <% showing = "straight & bi women" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Male' && Profile.find_by(user_id: current_user.id).orientation == 'Gay' %>
  <% @profiles = @gay_males + @bi_males %>
  <% showing = "gay & bi men" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Male' && Profile.find_by(user_id: current_user.id).orientation == 'Bisexual' %>
  <% @profiles = @gay_males + @bi_males + @bi_females + @straight_females %>
  <% showing = "gay & bi men, bi & straight women" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Female' && Profile.find_by(user_id: current_user.id).orientation == 'Straight' %>
  <% @profiles = @straight_males + @bi_males %>
  <% showing = "straight & bi men" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Female' && Profile.find_by(user_id: current_user.id).orientation == 'Gay' %>
  <% @profiles = @gay_females + @bi_females %>
  <% showing = "gay & bi women" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Female' && Profile.find_by(user_id: current_user.id).orientation == 'Bisexual' %>
  <% @profiles = @gay_females + @bi_females + @straight_men + @bi_men %>
  <% showing = "gay & bi women, straight & bi men" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= link_to 'Advanced Search', new_search_path, 
        {:style=>'color:#FFFFFF;', :class => "btn btn-primary btn-lg"} %>
<br><br>

<h2>Showing: <%= showing %> </h2>
<br><br>

<table>

  <tbody>
    <div class="row text-center">

    <% @profiles.each do |profile| %>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="" alt="">
          <%= link_to image_tag(profile.picture, width: 200), profile %>
          <div class="card-body">
            <h4 class="card-title"><%= profile.name %></h4>
            <p class="card-text"><%= profile.age %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'View', profile %></td>
          </div>
        </div>
      </div>
    
    <% end %>
  </tbody>
</table>
