<% if !Profile.exists?(user_id: current_user.id)  %>
   You don't have a profile yet, displaying all profiles...
   <% @profiles = @all_profiles %>

<% elsif current_user.has_role?(:admin) %>
   Administrator detected, displaying all profiles...
   <% @profiles = @all_profiles %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Male' && Profile.find_by(user_id: current_user.id).orientation == 'Straight' %>
  <% @profiles = @straight_females + @bi_females %>
  <% showing = "straight & bi women" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Male' && Profile.find_by(user_id: current_user.id).orientation == 'Gay' %>
  <% @profiles = @gay_males + @bi_males %>
  <% showing = "gay & bi men" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Male' && Profile.find_by(user_id: current_user.id).orientation == 'Bisexual' %>
  <% @profiles = @gay_males + @bi_males + @bi_females + @straight_females %>
  <% showing = "gay & bi men, bi & straight women" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Female' && Profile.find_by(user_id: current_user.id).orientation == 'Straight' %>
  <% @profiles = @straight_men + @bi_men %>
  <% showing = "straight & bi men" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Female' && Profile.find_by(user_id: current_user.id).orientation == 'Gay' %>
  <% @profiles = @gay_females + @bi_females %>
  <% showing = "gay & bi women" %>

<% elsif Profile.find_by(user_id: current_user.id).sex == 'Female' && Profile.find_by(user_id: current_user.id).orientation == 'Bisexual' %>
  <% @profiles = @gay_females + @bi_females + @straight_men + @bi_men %>
  <% showing = "gay & bi women, straight & bi men" %>
<% end %>

<p id="notice"><%= notice %></p>

<%= form_tag profiles_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Profiles</h1>
<% if params[:search] == "" || params[:search] == nil  %>
  <h1>Showing: <%= showing %></h1>
<% else %>
  <% @profiles = Profile.search(params[:search]) %>
  <h1>Showing: Search results...</h1>
<% end %>

<table>

  <tbody>
    <div class="row text-center">

    <% @profiles.each do |profile| %>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="" alt="">
          <%= link_to image_tag(profile.picture, width: 200), profile%>
          <div class="card-body">
            <h4 class="card-title"><%= profile.name %></h4>
            <p class="card-text"><%= profile.age %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'View', profile %></td>
          </div>
        </div>
      </div>
    
    <% end %>
  </tbody>
</table>
