<p id="notice"><%= notice %></p>
<p>
  <% if @profile.picture.attached? %>
    <%= image_tag @profile.picture, width: 400  %>
  <% else %>
    <strong>You still need to upload a picture!</strong>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @profile.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Orientation:</strong>
  <%= @profile.orientation %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profile.about_me %>
</p>

<p>
  <strong>Work education:</strong>
  <%= @profile.work_education %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>

<p>
  <strong>Height:</strong>
  <%= @profile.height %>
</p>

<p>
  <strong>Health:</strong>
  <%= @profile.health %>
</p>

<p>
  <strong>Vices:</strong>
  <%= @profile.vices %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @profile.pets %>
</p>

<p>
  <strong>Children:</strong>
  <%= @profile.children %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @profile.religion %>
</p>

<p>
  <strong>Politics:</strong>
  <%= @profile.politics %>
</p>

<p>
  <strong>Starsign:</strong>
  <%= @profile.starsign %>
</p>

<p>
  <strong>Looking for:</strong>
  <%= @profile.looking_for %>
</p>

<% if @profile.user_id.to_s != current_user.id.to_s %>
    <div class="item">

    <% contact_link = "Contact " + Profile.find_by(user_id: @profile.user_id).name.to_s%>
    
    <h3><%= link_to contact_link, conversations_path(sender_id: current_user.id, recipient_id: User.find(@profile.user_id).id), method: "post"%></h3>
    
    </div>
<% end %>
