<!DOCTYPE html>
<html>
  <head>
    <title>Planetlike</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://blackrockdigital.github.io/startbootstrap-heroic-features/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-heroic-features/css/heroic-features.css" rel="stylesheet">
  </head>

  <body>

  <!-- NAV BAR -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="<%= current_page?(profiles_path) ? 'nav-link active' : 'nav-link' %>"> 
            <%= link_to 'Profiles', profiles_path, class: "nav-link" %>
          </li>
          <li class="<%= current_page?(nav_about_path) ? 'nav-link active' : 'nav-link' %>">  
            <%= link_to 'About', nav_about_path, class: "nav-link" %>
          </li>
          <li class="<%= current_page?(nav_contact_path) ? 'nav-link active' : 'nav-link' %>"> 
            <%= link_to 'Contact', nav_contact_path, class: "nav-link" %>
          </li>
          <li class="<%= current_page?(new_user_session_path) ? 'nav-link active' : 'nav-link' %>"> 
              <% if user_signed_in? %>
                <li class="nav-link">
                  <a class="nav-link" style="pointer-events: none; cursor: default;" href="#">Welcome, <%= current_user.email %>!</a>
                </li>
                <li class="nav-link">
                  <%= link_to 'Logout', destroy_user_session_path, method: "delete", class: "nav-link" %>
                </li>
              <% else %>
                <li class="<%= current_page?(new_user_session_path) ? 'nav-link active' : 'nav-link' %>"> 
                  <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
                  
                  <li class="<%= current_page?(new_user_registration_path) ? 'nav-link active' : 'nav-link' %>"> 
                <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
              <% end %> 
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br>

  <%= image_tag "icon.png", style: 'width:20%;float:left;' %>
  <div class="container">
    <% if user_signed_in? %>
      <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <% if !Profile.exists?(user_id: current_user.id) %>
        <p class="lead">Welcome, <%= current_user.email %>, click below to make a new profile</p>
        <%= link_to 'New profile', new_profile_path, {:style=>'color:#FFFFFF;font-size:1.5em;', :class => "btn btn-primary btn-lg"} %>
      <% else %>
        <p class="lead">Welcome back, <%= current_user.email %>, click below to edit your profile</p>
        <%= link_to 'Edit profile', edit_profile_path(Profile.find_by(user_id: current_user.id).id), {:style=>'color:#FFFFFF;font-size:1.5em;', :class => "btn btn-primary btn-lg"} %>
      <% end %>
      <% if current_user.subscribed %>
        <p></p>
        <p>You are a permium member, you can contact other users:</p>
        <%= link_to 'My conversations', conversations_path, {:style=>'color:#FFFFFF;font-size:1.5em;', :class => "btn btn-primary btn-lg"} %>
      <% else %>
        <p></p>
        <p>You are not a premium user, upgrade to contact other users.</p>
        <p><%= link_to 'Upgrade membership', new_subscriber_path, {:style=>'color:#FFFFFF;', :class => "btn btn-primary btn-lg"} %></p>
      <% end %>
    <% else %>
    <br>
    <div class="container">
      <p>
        <%= image_tag "background.png", style: 'width:80%;'%>
      </p>
    </div>
    <% end %>
    </header>

    <% if alert %>
      <p class="alert alert-info">NOTICE: <%= alert %></p>
    <% end %>

    <%= yield %>

    </body>
  </div>

  <footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Planetlike 2020</p>
  </div>
  <!-- /.container -->
  </footer>
</html>
